@model SimsTemplate.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}
@section JavaScript {
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/password_indicator.js")"></script>
}
<h2>
    Reset Password</h2>

<p>
    Please enter your new password:</p>
@using (Html.BeginForm())
{
                 
    <label for="password">
        New Password:</label>
    <br />   
    @Html.PasswordFor(x => x.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <br />
    
    <div id="indicator" style="width: 250px; height: 30px;">
        <p id="indi">
            Enter Password</p>
    </div>
    
    <br />
    <label for="password">
        Confirmation Password:</label>
    <br />
    @Html.PasswordFor(x => x.ConfPassword)
    @Html.ValidationMessageFor(model => model.ConfPassword)
     
    <br />
    <input id="OK" name="submit" disabled="disabled" type="submit" value="submit" />
    <br />
}
<script type="text/javascript">
    /* when they press the letters on the keyboard, check the strength of the password */
    $('#Password').keyup(function () {

        //start off with zero points
        var totalpoints = 0;
        str = $('#Password').val();

        totalpoints += lengthPoints(str);

        //alert(totalpoints);

        //if this string is a combination string
        if (!uniform(str)) {
            //points for each character type
            totalpoints += typepoints(str);
            //points for using a combination
            totalpoints += combo_points(str);
        }
        //else you only get length points

        percentage = totalpoints / 100;

        //        alert(totalpoints);
        //        alert(percentage);

        //weak 0 - 8
        if (percentage < 0.59) {
            $('#indicator').css("background-color", "gold");
            $("#indi").text("Password is not strong enough");
            $('#OK').attr('disabled', 'disabled');
        }

        //strong 9+
        if (percentage > 0.59 && str.length > 5) {
            $('#indicator').css("background-color", "YellowGreen");
            $("#indi").text("Password is strong enough :)");
            $('#OK').removeAttr('disabled');
        }

        if (percentage > 0.83) {
            $('#indicator').css("background-color", "Pink");
            $("#indi").text("Your password is awesome! ");
            $('#OK').removeAttr('disabled');
        }


    });
</script>
