@model SimsTemplate.Models.FriendsList


<table class="view_table" style="margin-left: 20px">

  <tr>
    <td rowspan="2">
        <img alt="hello" src="~/Content/Images/Tinahely-Farm-Shop-Illama_v2.jpg" />
    </td>
    <td colspan="5">Friends (@ViewBag.NumberOfFriends)</td>
  </tr>

    <tr>
        <td>
            <select name="sort_algorithm">
                <option value="">@ViewBag.UserName : Sort Friends</option>
                <option value="alph">Alphabetical</option>
                <option value="lb">LeaderBoard Status</option>
            </select>
        </td>

        <td>
            @Html.ActionLink("Search", "Search")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit")
        </td>
        <td>
            @Html.ActionLink("Find", "Find")
        </td>
    </tr>
</table>





